# Extensionless executables
*
!/**/
!*.*

bin/

# java
*.class
java/**/interview/

# C++
*.o
*.exe

# Python
__pycache__/

# Things starting with .
.*
!/.gitignore

# LaTeX
*.aux
*.synctex.gz
*.log

